name: "Multi event workflow"

on:
    push:
        branches:
            - master
            - production

    pull_request:
        branches:
            - master
        types:
            - opened
            - closed

    workflow_dispatch:

jobs:
    on-push:
        if: github.event_name == 'push'
        runs-on: ubuntu_latest
        steps:
            - name: "Running on master push"
              run: echo "running on master push"

    pull_request:
        if: github.event_name == 'pull request'
        runs-on: ubuntu_latest
        steps:
            - name: "Running on pull request"
              run: echo "Running on pull request"


              